.account-wrapper {
  max-width: 1170px;
  margin: 40px auto 100px;
  padding: 0 15px;
  box-sizing: border-box;
   margin-top: 160px;
}
.account-top-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 50px;
  font-size: 14px;
  width: 100%;
}

.account-breadcrumb {
  color: rgba(0, 0, 0, 0.5);
}

.account-breadcrumb .active-page {
  color: #000000;
  font-weight: 500;
}

.account-welcome-text {
  color: #000000;
  font-size: 14px;
}

.account-welcome-text .highlight-username {
  color: #db4444;
  font-weight: 500;
}
.account-main-grid {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  gap: 60px;
  width: 100%;
}
.account-sidebar-section {
  width: 210px !important;
  flex-shrink: 0;
}
.account-card-section {
  flex: 1;
  background: #ffffff;
  padding: 40px 80px;
  border-radius: 4px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
.account-top-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
  margin-bottom: 40px;
}

.account-welcome-text {
  font-size: 14px;
  color: #000000;
  display: block !important;
}

.account-welcome-text .highlight-username {
  color: #db4444;
  font-weight: 500;
  margin-left: 4px;
}